<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Sateroid Stats</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Object Count</th>
          <th>Close Approach Count</th>
          <th>Source</th>
          <th>Jpl Url</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stats.near_earth_object_count}}</td>
          <td>{{stats.close_approach_count}}</td>
          <td>{{stats.source}}</td>
          <td> <a [href]="stats.nasa_jpl_url" target="_blank"> {{stats.nasa_jpl_url}} </a> </td>
          <td>{{stats.last_updated}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>