<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/picoftheday">Assignment</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a routerLink="/picoftheday">Picture of the day</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/asteroidStats">Asteroid Stats</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/eonetLayers">EONETLayers</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/eonetCategories">Categories</a></li>
            </ul>
        </div>
    </div>
</nav>