<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Pic of The Day
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              Date:  {{pickOfTheDay.date}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img [src]="pickOfTheDay.hdurl" class="img-responsive" alt="Image">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>{{pickOfTheDay.title}}</h2>
                <p>{{pickOfTheDay.explanation}}</p>
            </div>
        </div>
    </div>
</div>