<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Categories</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Layer</th>
                        <th>Link</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{category.id}}</td>
                        <td>{{category.title}}</td>
                        <td>{{category.layers}}</td>
                        <td>{{category.link}}</td>
                        <td>{{category.description}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>